---
import Layout from "../layouts/Layout.astro";
---

<Layout Page="AboutUs" Title="About Us">
  <h1>Not just a provider, but a partner</h1>
  <img src="" alt="Our team" />
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis, saepe!
    Nesciunt voluptates ullam facilis labore expedita odio excepturi alias quod,
    voluptatum ipsum quas vitae repellat!
  </p>
  <div>
    <h3>Meet the team!</h3>
    <div class="grid_1-1">
      <div class="employee">
        <img class="employeeImg" src="" alt="Jane Doe" />
        <p class="employeeName">Jane Doe</p>
        <p class="employeeTitle">Manager</p>
      </div>
      <div class="employee">
        <img class="employeeImg" src="" alt="Jack Bird" />
        <p class="employeeName">Jack Bird</p>
        <p class="employeeTitle">Engineer</p>
      </div>
      <div class="employee">
        <img class="employeeImg" src="" alt="Jonas Fish" />
        <p class="employeeName">Jonas Fish</p>
        <p class="employeeTitle">Repairman</p>
      </div>
      <div class="employee">
        <img class="employeeImg" src="" alt="Joanne Wolf" />
        <p class="employeeName">Joanne Wolf</p>
        <p class="employeeTitle">Customer support</p>
      </div>
    </div>
  </div>
  <h2>Want to join our mission?</h2>
  <p>
    We're always looking to expand our team of professionals. If you think you
    would fit in, feel free to reach out or send an application with your CV.
  </p>
  <p>WhatsApp: +249 123 456 7890 <br />E-mail: power@hop.ng</p>
</Layout>
