---
import Layout from "../layouts/Layout.astro";
---

<Layout Page="FAQ" Title="FAQ">
  <h1>How to get started:</h1>
  <div id="stepByStep">
    <div class="grid_step">
      <p>01</p>
      <div>
        <h3>Choose your POWER/HOP model</h3>
        <p>
          Choose the POWER/HOP model that is best suited for your need and
          follow the steps in the purchase flow
        </p>
      </div>
    </div>
    <div class="grid_step">
      <p>02</p>
      <div>
        <h3>Choose a date for the installation</h3>
        <p>
          In the purchase flow, you will choose an available date and time for
          the installation. You will be contacted by our team before the
          installation
        </p>
      </div>
    </div>
    <div class="grid_step">
      <p>03</p>
      <div>
        <h3>You're all set!</h3>
        <p>
          After the installation, the unit is ready for use. You can control
          your new unit with the app.
        </p>
      </div>
    </div>
  </div>
  <h2>Frequently Asked Questions:</h2>
  <div>
    <p>[accoriion]</p>
    <p>[accoriion]</p>
    <p>[accoriion]</p>
    <p>[accoriion]</p>
  </div>
  <h2>Any unanswered questions? We're happy to clarify.</h2>
  <p>WhatsApp: +249 123 456 7890 <br />E-mail: power@hop.ng</p>
</Layout>
