---
import Layout from "../layouts/Layout.astro";
---

<Layout Page="Home" Title="Home">
  <a href="/Booking.html">Booking</a>
  <h1>The next chapter of accessible at-home energy.</h1>
  <img class="heroImg" src="" alt="" />
  <button>discover POWER/HOP1000</button>
  <div>
    <h2>Our solution to unreliable grids.</h2>
    <p>POWER/HOP series</p>
    <img src="" alt="" />
  </div>
  <div>
    <h2>Introducing the POWER/HOP series:</h2>
    <p>
      Compact, quiet and powerful, the PowerHop power units switch on as soon as
      your grid fails, offering uninterrupted electricity for your most vital
      appliances and tools. And when the power comes back on? The unit recharges
      over the course of 4 hours, ready for the next outage. <br />With models
      providing either 1,000, 2,000 or 8,000 Wh of maximum stored power
      respectively, there is an affordable solution to every need.
    </p>
    <button>Models</button>
  </div>
  <div>
    <h3>₦0 STARTUP COST</h3>
    <p>
      No deposit, no big purchase. Pay from ₦24,000 monthly, with no sudden
      surprise fees or bills.
    </p>
    <h3>PAUSE AT ANY TIME</h3>
    <p>
      Not convenient this month? No problem. Pause your subscription at any time
      for no additional fee.
    </p>
    <h3>48H SWAP GUARANTEE</h3>
    <p>
      No maintenance cost. We detect battery degradation remotely, ensuring
      quick replacements and no dark days for you.
    </p>
  </div>
  <p>[accorion]</p>
  <div>
    <h2>Fulfilling real needs for real Nigerians.</h2>
    <div>
      <div>
        <p>[dot] oshodi-isolo, lagos</p>
        <p>
          We try to be digital, and the same do our customers. We repair devices
          - but when the power is out, so is business. The Power/Hop1000 keeps
          our terminals and tools running even during outages, and I don't need
          to worry about charging it when the power comes back on.
        </p>
        <p>Akinwunmi Akintola, REPAIRMAN</p>
      </div>
    </div>
  </div>
  <h2>Not just a provider, but a partner.</h2>
  <img src="" alt="" />
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eleifend orci
    nec nunc sollicitudin venenatis. Vestibulum suscipit in quam eu eleifend.
    Suspendisse ac elit nunc. Maecenas ut urna facilisis, consectetur nisi eu,
    molestie mi. Nunc non ligula auctor dui placerat pharetra. Fusce eget ante
    convallis, congue est placerat, bibendum justo.
  </p>
  <button>About us</button>
</Layout>
