---
import Layout from "../layouts/Layout.astro";
---

<Layout Page="OurServices" Title="Our Services">
  <h1>Power/Hop series</h1>
  <img src="" alt="" />
  <div>
    <p>Power/Hop1000</p>
    <p>Power/Hop2000</p>
    <p>Usable power <br />1,000 Wh</p>
    <p>2,000 Wh</p>
    <p>Surge protect. <br />1,000 W</p>
    <p>2,000 W</p>
    <p>Inverter <br />500 W</p>
    <p>1,000 W</p>
    <p>Charging time <br />~4H</p>
    <p>~4H</p>
    <p>AC input <br />90-260 v</p>
    <p>90-260 v</p>
    <p>battery <br />LiFePO₄</p>
    <p>LiFePO₄</p>
    <p>Lifespan <br />3,000+ cycles</p>
    <p>3,000+ cycles</p>
  </div>
  <div>
    <img src="" alt="" />
    <h3>Power/Hop1000</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eleifend
      orci nec nunc sollicitudin venenatis.
    </p>
    <button>Power/Hop1000</button>
  </div>
  <div>
    <img src="" alt="" />
    <h3>Power/Hop2000</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eleifend
      orci nec nunc sollicitudin venenatis.
    </p>
    <button>Power/Hop2000</button>
  </div>
  <div>
    <img src="" alt="" />
    <h3>Power/Hop8000</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eleifend
      orci nec nunc sollicitudin venenatis.
    </p>
    <button>Power/Hop8000</button>
  </div>
  <h2>Need a hand?</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eleifend orci
    nec nunc sollicitudin venenatis.
  </p>
  <button>Help</button>
</Layout>
