---
import Layout from "../layouts/Layout.astro";
---

<Layout Page="Profile" Title="Profile">
  <h1>Hello Jane Doe!</h1>
  <h3>Current active units:</h3>
  <div class="activeUnit">
    <h2>Power/Hop1000</h2>
    <p>Active from May 10th 2026</p>
    <p>Location: Placeholder Avenue 123, Lagos</p>
    <p>₦24,000 / month</p>
    <p>Next billing date: July 1st 2026</p>
    <p>Card: **** **** **** 1234</p>
    <p>Next payment status: Paid</p>
    <div>
      <img src="" alt="icon-make change" />
      <p>Make Change</p>
    </div>
  </div>
  <div class="activeUnit">
    <h2>Power/Hop2000</h2>
    <p>Active from June 21st 2026</p>
    <p>Location: Another Street 42, Lagos</p>
    <p>₦36,000 / month</p>
    <p>Next billing date: July 1st 2026</p>
    <p>Card: **** **** **** 5678</p>
    <p>Next payment status: Not paid</p>
    <div>
      <img src="" alt="icon-make change" />
      <p>Make Change</p>
    </div>
  </div>
  <h3>Profile information</h3>
  <div>
    <p><b>Name</b> <br />Jane Doe</p>
    <img src="" alt="icon-edit" />
  </div>
  <div>
    <p><b>Phone</b> <br />+234 123 456 7890</p>
    <img src="" alt="icon-edit" />
  </div>
  <div>
    <p><b>E-mail</b> <br />jane.doe@example.com</p>
    <img src="" alt="icon-edit" />
  </div>
  <div>
    <p><b>Billing Address</b> <br />123 Placeholder Avenue, Lagos</p>
    <img src="" alt="icon-edit" />
  </div>
  <div>
    <p><b>Password</b> <br /> <u>Change password</u></p>
    <img src="" alt="icon-edit" />
  </div>
</Layout>
