---
import Layout from "../layouts/Layout.astro";
import ProductComparisonTable from "../components/ProductComparisonTable.astro";
import ProductCard from "../components/ProductCard.astro";
import "../styles/global.css";
import powerhop1000 from "../assets/powerhop1000/front-1000-png.png";
import powerhop2000 from "../assets/powerhop2000/front-2000-png.png";
import powerhop8000 from "../assets/powerhop8000/front-8000-png.png";
---

<Layout Page="OurServices" Title="Our Services">
  <h1>Power/Hop series</h1>

  <ProductComparisonTable />

  <div class="productcardlist">
    <ProductCard
      name="Power/Hop1000"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eleifend orci nec nunc sollicitudin venenatis."
      image={powerhop1000}
      link="/powerhop1000/"
    />
    <ProductCard
      name="Power/Hop2000"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eleifend orci nec nunc sollicitudin venenatis."
      image={powerhop2000}
      link="/powerhop2000/"
    />
    <ProductCard
      name="Power/Hop8000"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eleifend orci nec nunc sollicitudin venenatis."
      image={powerhop8000}
      link="/powerhop8000/"
    />
  </div>
</Layout>

<style>
  .productcardlist {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-items: center;
    margin-top: 2rem;
  }

  @media (min-width: 42rem) {
    .productcardlist {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      align-items: start;
    }
  }

  @media (min-width: 64rem) {
    .productcardlist {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
</style>
