---

---

<footer>
  <div class="footer">
    <div class="footerContact">
      <p>WhatsApp:</p>
      <p>+249 123 456 7890</p>
    </div>
    <div class="footerContact">
      <p>Email:</p>
      <p>power@hop.ng</p>
    </div>

    <div class="footerLink">
      <p>LINK</p>
      <p>LINK</p>
    </div>
    <div class="logo">[LOGO]</div>
    <div class="copyright"><p>© 2026 PowerHop</p></div>
  </div>
</footer>

<style>
  .footer {
    color: white;
    background-color: black;
  }
  p {
    margin: 0;
  }

  .footerContact {
    display: grid;
    grid-template-columns: auto;
    /* gap: 0.5rem; */
  }

  .footer {
    display: grid;
    grid-template-columns: auto;
    gap: 1.5rem;
    padding: 1rem;
  }
</style>
