---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>PowerHop</title>
  </head>
  <body class="bg-light-surface">
    <!-- header component -->
    <Header />
    <main class="site-main">
      <!-- all pages go in here -->
      <slot />
    </main>
    <!-- footer component -->
    <Footer />
  </body>

  <style>
    html,
    body {
      margin: 0;
      width: 100%;
      min-height: 100%;
    }

    /* body {
      display: flex;
      flex-direction: column;
    } */

    .site-main {
      flex: 1;
      max-width: 1200px;
      margin: 2rem auto;
    }

    @media (max-width: 767px) {
      .site-main {
        padding-top: 4.375rem;
      }
    }
  </style>
</html>
